{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5 class="title-bg">Преподаватели</h5>
        </div>

            {% for teacher in teachers %}
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="well">
                        <div class="row" style="margin-bottom: 0;">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                 <img src="{% static teacher.ImagePath %}" style="width: 100%; height: 180px; margin-top: -7px; margin-left: 5px;" class="img-thumbnail"/>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div style="margin-top: -10px;">
                                    <h3><a href="/persons/teachers/teacher/{{ teacher.alias }}/">{{ teacher.fullname }}</a></h3>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        {% if teacher.categoryQval %}
                                            <div>Категория квал-ии: {{ teacher.categoryQval }}</div>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if teacher.rank %}
                                            <div>Звание: {{ teacher.rank }}</div>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if teacher.degree %}
                                            <div>Степень: {{ teacher.degree }}</div>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if teacher.subjects %}
                                            <div>Предмет: {{ teacher.subjects }}</div>
                                        {% endif %}
                                    </li>
                                </ul>
                            <!--
                                <div><hr/></div>
                                <div>
                                    {{ teacher.article|truncatechars:100|safe }}&nbsp;&nbsp;
                                    <a href="/teachers/{{ teacher.id }}/">
                                        <em>Подробнее</em>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <ul class="pagination">

                {% if teachers.has_previous %}
                    <li><a href="/persons/teachers/page/{{ teachers.previous_page_number }}/">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="">&laquo;</a></li>
                {% endif %}

                {% for page in teachers.paginator.page_range %}
                    {% if page == teachers.value %}
                        <li class="active"><a href="/persons/teachers/page/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/persons/teachers/page/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if teachers.has_next %}
                    <li><a href="/persons/teachers/page/{{ teachers.next_page_number }}/">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="">&raquo;</a></li>
                {% endif %}

            </ul>
        </div>
    </div>

{% endblock %}