{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <ul class="list-group" style="font-size: 150%; text-align: center;">
            <li class="list-group-item"><a href="teachers/a/">А</a></li>
            <li class="list-group-item"><a href="teachers/b/">Б</a></li>
            <li class="list-group-item"><a href="teachers/v/">В</a></li>
            <li class="list-group-item"><a href="teachers/g/">Г</a></li>
            <li class="list-group-item"><a href="teachers/d/">Д</a></li>
            <li class="list-group-item"><a href="teachers/e/">Её</a></li>
            <li class="list-group-item"><a href="teachers/j/">Ж</a></li>
            <li class="list-group-item"><a href="teachers/z/">З</a></li>
            <li class="list-group-item"><a href="teachers/i/">Ий</a></li>
            <li class="list-group-item"><a href="teachers/k/">К</a></li>
            <li class="list-group-item"><a href="teachers/l/">Л</a></li>
            <li class="list-group-item"><a href="teachers/m/">М</a></li>
            <li class="list-group-item"><a href="teachers/n/">Н</a></li>
            <li class="list-group-item"><a href="teachers/o/">О</a></li>
            <li class="list-group-item"><a href="teachers/p/">П</a></li>
            <li class="list-group-item"><a href="teachers/r/">Р</a></li>
            <li class="list-group-item"><a href="teachers/s/">С</a></li>
            <li class="list-group-item"><a href="teachers/t/">Т</a></li>
            <li class="list-group-item"><a href="teachers/u/">У</a></li>
            <li class="list-group-item"><a href="teachers/f/">Ф</a></li>
            <li class="list-group-item"><a href="teachers/h/">Х</a></li>
            <li class="list-group-item"><a href="teachers/c/">Ц</a></li>
            <li class="list-group-item"><a href="teachers/ch/">Ч</a></li>
            <li class="list-group-item"><a href="teachers/sh/">Ш</a></li>
            <li class="list-group-item"><a href="teachers/shya/">Щ</a></li>
            <li class="list-group-item"><a href="teachers/ee/">Э</a></li>
            <li class="list-group-item"><a href="teachers/yu/">Ю</a></li>
            <li class="list-group-item"><a href="teachers/ya/">Я</a></li>
        </ul>
    </div>

    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5 class="title-bg">Преподаватели и руководящий состав</h5>
        </div>

            {% for teacher in teachers %}
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="well">
                        <div class="row" style="margin-bottom: 0;">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                 <img src="{% static teacher.ImagePath %}" style="width: 100%; height: 180px; margin-top: -7px; margin-left: 5px;" class="img-thumbnail"/>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div style="margin-top: -10px;">
                                    <h3><a href="/persons/teachers/teacher/{{ teacher.alias }}/">{{ teacher.fullname }}</a></h3>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        {% if teacher.post.visible == True %}
                                            <div>Должность: {{ teacher.post }}</div>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if teacher.rank.visible == True %}
                                            <div>Звание: {{ teacher.rank }}</div>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if teacher.degree.visible == True %}
                                            <div>Степень: {{ teacher.degree }}</div>
                                        {% endif %}
                                    </li>
                                    <li>
                                        <div>Предмет: {{ teacher.subject }}</div>
                                    </li>
                                </ul>
                            <!--
                                <div><hr/></div>
                                <div>
                                    {{ teacher.article|truncatechars:100|safe }}&nbsp;&nbsp;
                                    <a href="/teachers/{{ teacher.id }}/">
                                        <em>Подробнее</em>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <ul class="pagination">

                {% if teachers.has_previous %}
                    <li><a href="/persons/teachers/page/{{ teachers.previous_page_number }}/">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="">&laquo;</a></li>
                {% endif %}

                {% for page in teachers.paginator.page_range %}
                    {% if page == teachers.value %}
                        <li class="active"><a href="/persons/teachers/page/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/persons/teachers/page/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if teachers.has_next %}
                    <li><a href="/persons/teachers/page/{{ teachers.next_page_number }}/">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="">&raquo;</a></li>
                {% endif %}

            </ul>
        </div>
    </div>

{% endblock %}