{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}

<div class="row">

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <h5 class="title-bg">Обращение к выпускникам</h5>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img src="{% static "static/img/graduates.jpg" %}" style="width: 100%;" class="img-thumbnail"/>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    Просим Вас оставить о себе какие-либо данные. <br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce felis odio, vehicula a malesuada ac, imperdiet eu arcu. In ligula velit, ornare sed ornare id, cursus nec arcu. Nullam id dolor augue. Integer maximus mattis diam vitae euismod. Integer et lacus risus. Proin in arcu ornare, consequat tortor non, feugiat risus. Fusce finibus leo tincidunt odio dictum ullamcorper. Suspendisse rutrum mi ipsum, in congue tortor gravida nec.
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <h5 class="title-bg">Список выпускников</h5>
                {% for graduate in graduates %}
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                        <div class="panel panel-default" style="height: 220px;">
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <img src="{% static graduate.ImagePath %}" style="width: 100%; margin-left: 10px;" class="img-thumbnail"/>
                                    </div>

                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span>ФИО: </span>
                                                <span>{{ graduate.fullname }}</span>
                                            </li>
                                            <li>
                                                <span>Работаю: </span>
                                                <span>{{ graduate.postandarea }}</span>
                                            </li>
                                            <li>
                                                <span>{{ graduate.article }}</span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <ul class="pagination">

                {% if graduates.has_previous %}
                    <li><a href="/graduates/page/{{ graduates.previous_page_number }}/">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="">&laquo;</a></li>
                {% endif %}

                {% for page in graduates.paginator.page_range %}
                    {% if page == graduates.value %}
                        <li class="active"><a href="/graduates/page/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/graduates/page/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if graduates.has_next %}
                    <li><a href="/graduates/page/{{ graduates.next_page_number }}/">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="">&raquo;</a></li>
                {% endif %}

            </ul>
        </div>

    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panel panel-default">

        <div class="panel panel-default" style="margin-top: 15px;">
            <div class="panel-body">
                <form action="/graduates/addgraduate/" method="post" class="form" >
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">ОТПРАВИТЬ</button>
                    {% endbuttons %}
                    {% buttons %}
                        <button class='js-captcha-refresh'></button>
                    {% endbuttons %}
                </form>
            </div>
        </div>

    </div>

</div>

{% endblock %}