{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% for teacher in teachers %}
    <h6>Дата публикования: {{ teacher.publish_date }}</h6>
    <h3><a href="/teachers/{{ teacher.id }}/">{{ teacher.surname }} {{ teacher.name }} {{ teacher.middlename }}</a></h3>
    <h5>Должность: {{ teacher.post }}</h5>
    <h5>Звание: {{ teacher.rank }}</h5>
    <h5>Степень: {{ teacher.degree }}</h5>
    <h5>Предметы: {{ teacher.subject }}</h5>
    <div>{{ teacher.article }}</div>
    <div><img src="{% static "like.png" %}" width="40px"> {{ teacher.likes }} человек </div>
    <h6>Автор: {{ teacher.author }}</h6>
    <hr/>
{% endfor %}
{% endblock %}